[Unit]
Description=Minecraft Server - Backup Upload (service)
Requires=network-online.target
After=mc-backup.service

[Service]
User=minecraft
Group=minecraft
Type=simple
ExecStart=scripts/backup-upload.sh
# SET REAL PATH
Nice=8

[Install]
WantedBy=multi-user.target
