[Unit]
Description=Minecraft Server - Backup Upload (service)
Requires=network-online.target
After=mc-backup.service

[Service]
User=mcadmin
Group=minecraft
WorkingDirectory=/home/mcadmin/scripts
Type=simple
ExecStart=backup-upload.sh
# SET REAL PATH
Nice=8

[Install]
WantedBy=multi-user.target
