[Unit]
Description=Minecraft Server - Backup (service)
Wants=network-online.target
Requires=mc-backup.timer
Before=mc-backup-upload.service

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/home/minecraft/scripts
Type=simple
ExecStart=backup.sh
# SET REAL PATH
Nice=8

[Install]
WantedBy=multi-user.target
