[Unit]
Description=Minecraft Server - Update Public IP (service)
Requires=network-online.target mc-ip.timer

[Service]
User=mcadmin
Group=minecraft
WorkingDirectory=/home/mcadmin/scripts
#SET REAL PATH
Type=simple
ExecStart=update-ip.sh
#SET REAL PATH
#Nice=8

[Install]
WantedBy=multi-user.target
#start automatically on successful boot, =~ to default.target
