[Unit]
Description=Minecraft Server - Stop (service)
Wants=mc-stop.timer
Requisite=mc.service

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/home/minecraft/scripts
Type=simple
#NoNewPrivileges=true
ExecStart=stop.sh
Nice=10

[Install]
WantedBy=multi-user.target