[Unit]
Description=Minecraft Server - Executable (service)
Wants=network-online.target
Requires=mc-backup.service mc-backup.timer

[Service]
User=mc-server
Group=mc-server
WorkingDirectory=/home/mc-server
#SET CORRECT PATH LATER
Type=simple
#ProtectSystem=full
#PrivateDevices=true
#ProtectHome=true
NoNewPrivileges=true
ExecStart=scripts/start.sh
ExecStop=scripts/stop.sh
#SET REAL PATH

Nice=1
#Restart=on-success
#RestartSec=10

[Install]
WantedBy=multi-user.target
#=~ to default.target (?)
