[Unit]
Description=Minecraft Server - Backup (timer)
Requires=mc.service

[Timer]
Unit=mc-backup.service
OnCalendar= Fri *-*-* 00:00:00

[Install]
WantedBy=timers.target
RequiredBy=mc.service
