[Unit]
Description=Minecraft Server - Update Public IP (timer)
Requires=mc-ip.service
Wants=network-online.target

[Timer]
Unit=mc-ip.service
OnCalendar= *-*-* 00:00:00

[Install]
WantedBy=timers.target