[Unit]
Description=Minecraft Server - Graceful Stop (timer)
Requires=mc-stop.service
Requisite=mc.service

[Timer]
Unit=mc-stop.service
#OnBootSec=5min
OnCalendar=*-*-* 02:00:00

[Install]
WantedBy=timers.target