[Unit]
Description=Minecraft Server - Graceful Stop (timer)
Requires=survival-2022.service

[Timer]
Unit=survival-2022-stop.service
#OnBootSec=5min
OnCalendar=*-*-* 02:00:00

[Install]
WantedBy=timers.target
RequiredBy=survival-2022.service
