[Unit]
Description=Minecraft Server - Start (timer)
#Wants=mc.service

[Timer]
Unit=mc.service
#OnBootSec=5min
OnCalendar=-- 080000

[Install]
WantedBy=multi-user.target
#WantedBy=mc.service
