[Unit]
Description=Minecraft Server - Backup (service)
Requires=mc.service
Requires=mc-backup.timer
After=network-online.target

[Service]
User=minecraft
Group=minecraft
Type=simple
ExecStart=/home/minecraft/build/scripts/backup.sh
Nice=8

[Install]
WantedBy=multi-user.target
