[Unit]
Description=Minecraft Server - Backup (service)
Requires=mc-backup.timer
Wants=network-online.target
Before=mc-backup-upload.service

[Service]
User=minecraft
Group=minecraft
Type=simple
ExecStart=scripts/backup.sh
# SET REAL PATH
Nice=8

[Install]
WantedBy=multi-user.target
