[Unit]
Description=Minecraft Server - Stop (service)
Requires=mc.service
Requires=mc-stop.timer

[Service]
User=minecraft
Group=minecraft
Type=simple
#NoNewPrivileges=true
ExecStart=/home/minecraft/build/scripts/stop.sh
Nice=10

[Install]
WantedBy=multi-user.target
