[Unit]
Description=Minecraft Server - Stop (service)
Wants=mc-stop.timer
Requisite=mc.service

[Service]
User=minecraft
Group=minecraft
Type=simple
#NoNewPrivileges=true
ExecStart=/home/minecraft/build/scripts/stop.sh
Nice=10

[Install]
WantedBy=multi-user.target