[Unit]
Description=Minecraft Server - Executable (service)
#Requires=network-online.target
#Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/botond/servers/minecraft/survival-2022
User=minecraft
Group=minecraft
Type=simple
#ProtectSystem=full
#PrivateDevices=true
#ProtectHome=true
NoNewPrivileges=true
ExecStart=/bin/java -Xms2G -Xmx6G -XX:+UseG1GC -jar spigot-1.20.4.jar nogui
ExecStop=/home/botond/servers/minecraft/build/scripts/stop.sh

Nice=5
#Restart=on-success
#RestartSec=10

[Install]
WantedBy=default.target
